<!DOCTYPE html>
<html ng-app="todos">
<head lang="fr">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Todos</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="lib/angular.min.js"></script>
  <script src="lib/angular-animate.min.js"></script>
  <script src="lib/angular-resource.min.js"></script>
  <script src="lib/angular-route.min.js"></script>
  <script src="lib/angular-sanitize.min.js"></script>

  <script src="app/app.js"></script>

  <script src="app/lists_factory.js"></script>
  <script src="app/lists/lists_new_controller.js"></script>
  <script src="app/lists/lists_resource.js"></script>
  <script src="app/lists/lists_index_controller.js"></script>

  <script src="app/todos/todos_index_controller.js"></script>
  <script src="app/todos/todo_resource.js"></script>
  <script src="app/todos/todo_directive.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="header">
    <h1>Todolist</h1>
  </div>
  <div id="main">
    <div class="clearBackgroundSidebar">
      <div id="titreSidebar">
        Listes
      </div>
      <div id="sidebar" ng-controller="ListsIndexController">
        <ul>
          <li ng-repeat="list in todolists">
            <a ng-href="#/lists/{{list._id.$oid}}">{{list.label}}</a>
          </li>
        </ul>
        <div id="interactionLists">
          <div ng-controller="NewListController">
            <button ng-click="deleteList()">Supprimer Liste</button>
            <a class="boutonA" ng-href="#/new">Nouvelle Liste</a>
          </div>
        </div>
      </div>
    </div>
    <div class="clearBackgroundMain">
      <div id="titreMain">
        Todos
      </div>
      <div id="main-content" ng-view>
      </div>
    </div>
  </div>
</body>
</html>
