<h1>{{list.label}}</h1>
<div>
	<ul>
		<form ng-submit="" novalidate>
			<input type="text" ng-model="list.label" value="{{list.label}}" />
			<button ng-click="updateList(list.label)">Modifier</button>
			<br/><br/>
			<input type="text" ng-model="Todo.todo.text" value="" />
			<button ng-click="createTodo()">Ajouter todo</button>
		</form>
		<li ng-repeat="todo in todos">
			<a ng-click="showDetails = ! showDetails" ng-href="#/lists/{{list._id.$oid}}/{{todo._id.$oid}}">{{todo.text}}</a>				
			<div class="todos-details" ng-show="showDetails">
				<button ng-click="deleteTodo()">Supprimer todo</button>				
			</div>		
		</li>
		{{todolists}}
	</ul>
</div>
