<h1>{{list.label}}</h1>
<div>
	<ul class="ulTodo">
		<form ng-submit="" novalidate>
			<input class="inputText" type="text" ng-model="list.label" value="{{list.label}}" />
			<button class="buttonTodo" ng-click="updateList(list.label)">Modifier</button>
			<br/><br/>
			<input class="inputText" type="text" ng-model="Todo.todo.text" value="" />
			<button class="buttonTodo" ng-click="createTodo()">Ajouter todo</button>
		</form>
		<div class="todoTraite">
			<input class="inputCheckbox" type="checkbox" ng-model="hide" ng-change="showTacheTermine = ! showTacheTermine">
			<label>Afficher les todos traité</label>
		</div>
		<li class="todo" ng-repeat="todo in todos | filter:todo.priority" ng-show="showTacheTermine || todo.done == false">
			<ng-comment> </ng-comment>
		</li>
		{{todolists}}
	</ul>
</div>
